.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#ffb2b2;
  width: 300px;
  height: 50px;
  border: 0px solid #492929;
  border-radius: 10px;
  text-align: center;
  font-weight:bolder;
  font-size: 40px;
  color:#752b2b;
  margin: 0 auto 20px auto;
}

td{

  text-align: center;
  column-width: 150px;
  height: 30px;
  color:#8a9fff;
  font-weight: 600;
  border-left:1px solid #885b5b;
}

td:first-child{
  border-left:0px solid #ffacac;
}

th{
  font-size: 20px;
  color: #9cbde2;
  background-color: #4358b8;
  border-bottom: 4px solid #34448d;
  border-right: 4px solid #34448d;
  border-top: 2px solid #34448d;
  border-left: 2px solid #34448d;
  border-radius: 5px;
}

table{
  margin-left:auto;
  margin-right: auto;
  border-bottom: 4px solid #ffacac;
  border-right: 4px solid #ffacac;
  border-top: 2px solid #ffacac;
  border-left: 2px solid #ffacac;
  border-radius: 15px;
  border-spacing: 20px;
}

.centredBtn{
  background-color: #ffa9a9;
  border: 0px solid #492929;
  border-radius: 10px;
  color:#421818;
  font-family: "San Francisco";
  font-weight: 600;
  padding-left:20px;
  padding-right:20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.centredDiv{
  text-align: center;
}
