@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

html{
  background: #3b3b3b;
  font-family: "San Francisco";
}
